@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat&display=swap');

body {
    /* Body */
    font-family: var(--font-montserrat);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1, h2 {
    /* Heading */
    font-family: var(--font-league-spartan);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}
